# Project Files
*.htm
*.lnp
*.iex
*.axf
*.dbgconf

# User Specific Files
*.yeshv


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.dep

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
projects/peer1/RTE/Device/STM32F401CCUx/.startup_stm32f401xc.s@2.6.2
projects/peer1/RTE/Device/STM32F401CCUx/.system_stm32f4xx.c@2.6.3
projects/peer1/RTE/CMSIS/.RTX_Config.c@5.1.1
projects/peer1/RTE/CMSIS/.RTX_Config.h@5.5.2
projects/peer2/RTE/CMSIS/.RTX_Config.c@5.1.1
projects/peer2/RTE/CMSIS/.RTX_Config.h@5.5.2
projects/peer2/RTE/Device/STM32F401CCUx/.startup_stm32f401xc.s@2.6.2
projects/peer2/RTE/Device/STM32F401CCUx/.system_stm32f4xx.c@2.6.3
projects/peripheral/RTE/CMSIS/.RTX_Config.c@5.1.1
projects/peripheral/RTE/CMSIS/.RTX_Config.h@5.5.2
projects/peripheral/RTE/Device/STM32F401CCUx/.startup_stm32f401xc.s@2.6.2
projects/peripheral/RTE/Device/STM32F401CCUx/.system_stm32f4xx.c@2.6.3
projects/central/RTE/CMSIS/.RTX_Config.c@5.1.1
projects/central/RTE/CMSIS/.RTX_Config.h@5.5.2
projects/central/RTE/Device/STM32F429ZITx/.startup_stm32f429xx.s@2.6.2
projects/central/RTE/Device/STM32F429ZITx/.system_stm32f4xx.c@2.6.3
